{% load static %}
<!DOCTYPE html>
<html data-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Melomatch - сравнение музыкальных вкусов{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'web/css/bulma-1.0.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/bulma-divider.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'web/css/base.css' %}?">
    {% block styles %}{% endblock %}
  </head>
  <body>

    {% include "web/includes/navbar.html" %}

    {% block body %}
    {% endblock %}

    <script src="{% static 'web/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'web/js/navbar_collapse.js' %}"></script>
    <script src="{% static 'web/js/theme_switch.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
