{% load static %}

<!DOCTYPE html>
<html lang="ru" data-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Melomatch - это сервис, который позволяет пользователям сравнивать свои музыкальные предпочтения с другими людьми, получая персонализированные рекомендации и открывая новых артистов и треки на основе общих интересов.">
    <meta name="keywords"
          content="музыкальные вкусы сравнение анализ предпочтения">
    <title>
      {% block title %}
        Melomatch - сравнение музыкальных вкусов
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'web/css/bulma-1.0.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/bulma-divider.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/bulma-switch.min.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'web/css/base.css' %}?v=1">
    {% block styles %}
    {% endblock styles %}
  </head>
  <body>
    {% include "web/includes/navbar.html" %}
    {% include "web/includes/messages.html" %}

    {% block body %}
    {% endblock body %}

    <script src="{% static 'web/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'web/js/bulma-collapsible.min.js' %}"></script>
    <script src="{% static 'web/js/collapsible_init.js' %}"></script>
    <script src="{% static 'web/js/navbar_collapse.js' %}"></script>
    <script src="{% static 'web/js/theme_switch.js' %}"></script>
    <script src="{% static 'web/js/notification_delete.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
