{% extends "web/pages/base.html" %}
{% load static %}

{% block title %}
  Сравнение вкуса с {{ user_to_compare.username }} - Melomatch
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'web/css/compare_taste.css' %}?">
{% endblock styles %}

{% block body %}
  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container is-flex is-flex-direction-column is-align-items-center">
        <div class="mb-5">
          <div class="columns is-centered">
            <div class="column is-narrow">
              {% include "web/includes/avatar_circle.html" with avatar=user_to_compare.avatar username=user_to_compare.username size=256 %}
            </div>
            <div class="column is-narrow">
              {% include "web/includes/avatar_circle.html" with avatar=user.avatar username=user.username size=256 %}
            </div>
          </div>
        </div>
        <div class="subtitle has-text-centered mb-5">
          Сравниваем ваши вкусы. Пожалуйста, подождите.
        </div>
        <div class="is-rounded loader is-big"></div>
      </div>
    </div>
  </section>
{% endblock body %}

{% block scripts %}
  <script>
    const compared_to_username = "{{ user_to_compare.username }}";
  </script>
  <script src="{% static 'web/js/compare_taste.js' %}?"></script>
{% endblock scripts %}
