{% extends "web/pages/base.html" %}

{% load static %}

{% block title %}
  Мой топ - Melomatch
{% endblock title %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'web/css/my_top.css' %}?">
{% endblock styles %}
{% block body %}
  {% include "web/includes/tab.html" %}
  <div class="container">
    <div class="is-flex is-flex-direction-row is-justify-content-end mb-5">
      <div class="is-flex buttons has-addons ">
        <button id="top_list_button" class="button is-selected-switch-button">
          ТОП-3
        </button>
        <button id="artist_list_button" class="button">Список</button>
      </div>
    </div>
    <div id="top_list_content">
      <div class="columns is-centered is-vcentered">
        {% for artist in top_artists|slice:":3" %}
          <div class="column is-display-flex is-flex-direction-column is-align-items-center">
            <figure class="image is-300x300">
              <img class="is-rounded"
                   height="300"
                   width="300"
                   src="{{ artist.artists__avatar }}/300x300"
                   alt="Фото артиста" />
            </figure>
            <p class="has-text-centered mt-5 has-text-weight-bold">
              {{ artist.artists__name }}
            </p>
            <p class="has-text-centered mt-5 has-text-weight-bold is-size-2 place_{{ forloop.counter }}">
              {{ forloop.counter }}
              место
            </p>
          </div>
        {% endfor %}
      </div>
      <div class="is-flex is-flex-direction-row is-align-items-center is-justify-content-center">
        {% for genre in top_genres|slice:":5" %}
          <<span class="has-text-weight-bold">{{ genre.genre__title }}</span>>
        {% endfor %}
      </div>
    </div>
    <div id="artist_list_content"
         class="columns is-centered is-vcentered is-hidden">
      <div class="column is-half">
        {% for artist in top_artists %}
          <div class="is-flex is-flex-direction-row is-align-items-center">
            <span class="is-size-3 place_{{ forloop.counter }}">{{ forloop.counter }}</span>
            <figure class="image is-150x150 mx-5">
              <img class="is-rounded"
                   height="150"
                   width="150"
                   src="{{ artist.artists__avatar }}/150x150"
                   alt="Фото артиста" />
            </figure>
            <span class="is-size-3 is-flex-grow-1 has-text-right place_{{ forloop.counter }}">{{ artist.artists__name }}</span>
          </div>
          <hr class="line" />
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock body %}
{% block scripts %}
  <script src="{% static 'web/js/top_switch.js' %}"></script>
{% endblock scripts %}
