{% load static %}

<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-flex" href="{% url 'landing' %}">
            <figure class="image is-48x48">
                <img src="{% static 'web/images/logo_icon.png' %}" width="48" height="48">
            </figure>
            <p class="title is-3 ml-3">melomatch</p>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
            {% if user.is_authenticated %}
                <a class="navbar-item is-size-5" href="{% url 'profile' %}">
                    <strong>{{ user.first_name }} {{ user.last_name }}</strong>
                </a>
            {% else %}
                <div class="navbar-item">
                    <a class="button is-primary"
                       href="https://oauth.yandex.ru/authorize?response_type=token&client_id=23cabbbdc6cd418abb4b39c32c41195d">
                        <strong>Войти через Яндекс</strong>
                    </a>
                </div>
            {% endif %}

            <div class="navbar-item">
                <span class="icon">
                    <i id="theme-icon" class="fa-solid fa-moon is-clickable"></i>
                </span>
            </div>

        </div>
    </div>
</nav>
