:root {
    --bulma-navbar-height: 4rem !important;
}

html {
    overflow-y: auto;
}

.navbar-item img {
    max-height: 3rem
}

.switch[type=checkbox]:focus+label::after,
.switch[type=checkbox]:focus+label::before {
    outline: 0 solid #b5b5b5;
}
