html[data-theme="dark"] .attribution {
    display: none !important;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero .container {
    max-width: 25% !important;
}

.rotate {
    transition: all 0.5s ease-out;
}

.rotate.down {
    transform: rotate(-180deg);
}

.is-collapsible {
    transition: height 0.5s ease-out;
    overflow: hidden;
}

.icon-link {
    background: none;
    border: none;
}