html[data-theme="dark"] .attribution {
    display: none !important;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero .container {
    max-width: 25% !important;
}
